target
test_run_dir
project
.metals/
wos_filters.cache/
wos_filters.hw/
wos_filters.sim/
wos_filters.runs/
wos_filters.ip_user_files/
wos_filters.srcs/utils_1/
.vscode/
tests/sim_build/
tests/results.xml
__pycache__/
generated/*